<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>


   
       
  
<body>

   <h2>Education and qualifications:</h2> 


    <table>
        <tr>
            <th>Name </th>
            <th>Institution name</th>
            <th>Degree</th>
            <th>Year</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>University</td>
            <td>American International University-Bangladesh </td>
            <td>Bsc in CSE</td>
            <td>2022</td>
            <td>3.72</td>
        </tr>
        <tr>
            <td>Collage</td>
            <td>Central Women's College</td>
            <td>Higher Secondary School Certificate(HSC)</td>
            <td>2017</td>
            <td>5</td>
        </tr>
        <tr>
            <td>School</td>
            <td>A.K. High School and college</td>
            <td>Secondary School Certificate(SSC)</td>
            <td>2015</td>
            <td>5</td>
        </tr>
    </table>


</body>
</html>



