<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a href="https://localhost:44391/CV/Personal">Personal Information</a>
    <a href="https://localhost:44391/CV/Education">Education</a>
    <a href="https://localhost:44391/CV/Projects">Projects</a>
    <a href="https://localhost:44391/CV/Reference">Reference</a>
</body>
</html>