<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
   <h2>Personal Information</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
           

        </tr>
       
        <tr>
            <td>Afrina Riya Miti</td>
            <td>afrina27@gmail.com</td>
            
        </tr>
        
    </table>
</body>
</html>