<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Projects</h2>

    <ul>
        <li>Library Management System</li>
        <li>Inventory Management System</li>
        <li>Household service provider</li>
        <li>University Portal</li>
    </ul>
</body>
</html>